
<h4><%= @musician %></h4>
<h4><%= @instrument %></h4>


<div class="container-fluid">
  <form action="/musicians/playlists" method="post" class="form-inline">
    <button type="submit" class="btn btn-default">create playlist</button>
  </form>

  <br>

  <%= @musician_tracks %>
  
</div>
