<div class="container-fluid">
  <div class="col-sm-6">
    <div class="row">
      <form action="/tracks" method="get">
        <div class="col-sm-4"><input type="text" name="q" class="that" style="font-size:42px" placeholder="That"></div>
        <div class="col-sm-3"><button type="submit" class="btn question"></button></div>
      </form>
    </div>
  </div>
</div>
