/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.homepage {
  background-image: url("Who.png");
  background-size: 100%;
  padding-bottom: 50px;
}
body.other_pages {
  background-image: url("who_bg_color.png");
  background-size: 100%;
  padding-top: 180px;
  padding-bottom: 50px;
}
h4, h2 {
  color: white !important;
}
.navbar-search {
  padding-top: 20px;
  text-align: center;
}
.spotify {
  text-align: center;
}
.input-small {
  max-width: 145px;
}
.breadcrumbs {
  padding-top: 15px;
}
.footer {
  background: white;
}
.participants {
  text-align: center;
}
.idk {
  padding-top: 150px;
}
.that {
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 25px;
  top: 595px;
  left: 571px;
  width: 213px;
  height: 80px;
}
.question {
  position: relative;
  top: 595px;
  left: 557px;
  width: 55px;
  height: 80px;
  opacity: .07;
}
.that::-webkit-input-placeholder {
  font-size: 68px;
  color: gray;
}
.copyleft {
  margin-top: 5px;
}
.search-bar {
  margin-top: 10px;
  padding-left: 20px;
}
.nav-row {
  margin-top: 15px;
}
.create {
  margin-right: 85px;
}
